* {
  margin: 0;
  padding: 0;
  line-height: 1rem;
}

:root {
  --playernamespeed: 0.5789s;
}

#screen {
  position: absolute;
  top: calc(50% - 240px);
  left: calc(50% - 320px);
  width: 640px;
  height: 480px;
  background-color: black;
}

#screen .board {
  position: relative;
  background-color: rgba(16, 15, 17, 0.26);
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: hidden;
}

#screen .board .road {
  position: absolute;
  top: calc((480px - 350px) / 2);
  height: 350px;
  background-image: url("../assets/PixelsAssets/fond.jpg");
  background-position: left bottom;
}

#screen .board .road .objet {
  position: absolute;
  bottom: 85px;
  width: 16px;
  height: 16px;
  outline: 1px dotted black;
  background-position: left bottom;
}

#screen .board .road .objet::before {
  position: absolute;
  top: -15px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

#screen .board .road .objet.golden-key {
  background-image: url("../assets/PixelsAssets/golden-key.png");
  left: 2472px;
}

#screen .board .road .objet.golden-key::before {
  content: "golden-key";
}

#screen .board .road .objet.silver-key {
  background-image: url("../assets/PixelsAssets/silver-key.png");
  left: 2372px;
}

#screen .board .road .objet.silver-key::before {
  content: "silver-key";
}

#screen .board .road .objet.candle {
  background-image: url("../assets/PixelsAssets/candle.png");
  left: 50px;
}

#screen .board .road .objet.candle::before {
  content: "Candle";
}

#screen .board .road .info {
  position: absolute;
  top: calc(10%);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 1rem;
  line-height: 100%;
  background-color: rgba(255, 255, 255, 0.588);
  border-radius: 9px;
  padding: 1rem;
}

#screen .board .road .info.inf-0 {
  top: calc(10%);
  left: 1700px;
  text-align: center;
  font-size: 1.5rem;
}

#screen .board .road .info.inf-1 {
  top: calc(10%);
  left: 100px;
}

#screen .board .road .info.inf-2 {
  top: calc(35%);
  left: 350px;
}

#screen .board .road .info.inf-3 {
  top: calc(15%);
  left: 650px;
}

#screen .board .road .info.inf-4 {
  top: calc(25%);
  left: 950px;
}

#screen .board .road .info.inf-5 {
  top: calc(5%);
  left: 1250px;
}

#screen .board .road .info.inf-6 {
  top: calc(15%);
  left: 2300px;
}

#screen .board .road .info.inf-7 {
  top: calc(50%);
  left: 2550px;
}

#screen .board #player {
  position: absolute;
  bottom: 150px;
  width: 128px;
  height: 88px;
  background-size: 100%;
}

#screen .board #player::after {
  position: absolute;
  content: "div#player";
  top: -1.2rem;
  right: 0;
}

#screen .board #player::before {
  position: absolute;
  font-size: 0.8rem;
  content: "Waria [1]";
  top: -5px;
  left: 30px;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.877);
  border-radius: 5px;
  padding: 1px 5px;
  -webkit-transition: left 0.5s ease-out;
  transition: left 0.5s ease-out;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-animation: playernamefloating var(--playernamespeed) infinite;
  /* Safari 4+ */
  /* Fx 5+ */
  /* Opera 12+ */
  animation: playernamefloating var(--playernamespeed) infinite;
  /* IE 10+, Fx 29+ */
}

#screen .board #player.idle {
  background-image: url("../assets/anims_Assets/waria_idle.gif");
}

#screen .board #player.idle.left {
  background-image: url("../assets/anims_Assets/waria_idle_l.gif");
}

#screen .board #player.idle.crouch {
  background-image: url("../assets/anims_Assets/waria_gocrouch.gif");
}

#screen .board #player.idle.crouch.left {
  background-image: url("../assets/anims_Assets/waria_gocrouch_l.gif");
}

#screen .board #player.run {
  background-image: url("../assets/anims_Assets/waria_run.gif");
}

#screen .board #player.run::before {
  left: -5px;
}

#screen .board #player.run.left {
  background-image: url("../assets/anims_Assets/waria_run_l.gif");
}

#screen .board #player.run.left::before {
  left: 65px;
}

#screen .board #player.jump {
  background-image: url("../assets/anims_Assets/waria_jump.gif");
}

#screen .board #player.jump.left {
  background-image: url("../assets/anims_Assets/waria_jump_l.gif");
}

#screen .board #player.attack {
  background-image: url("../assets/anims_Assets/waria_dask_attack.gif");
}

#screen .board #player.attack.left {
  background-image: url("../assets/anims_Assets/waria_dask_attack_l.gif");
}

#screen .board #player.gocrouch {
  background-image: url("../assets/anims_Assets/waria_gocrouch.gif");
}

#screen .board #player.gocrouch.left {
  background-image: url("../assets/anims_Assets/waria_gocrouch_l.gif");
}

#screen .board .ratio {
  position: absolute;
  bottom: 5px;
  left: 5px;
  right: 5px;
  height: 20px;
}

#screen .board .ratio .progress {
  position: relative;
  width: 0%;
  height: 100%;
  background-color: antiquewhite;
  color: black;
}

#screen .board #health {
  position: absolute;
  left: 5px;
  top: 75px;
  color: white;
  color: rgba(247, 6, 127, 0.562);
  font-size: 2rem;
}

#screen .console div {
  background-color: #d6d6d6;
}

@-webkit-keyframes playernamefloating {
  0% {
    top: -10px;
  }
  50% {
    top: -5px;
  }
  100% {
    top: -10px;
  }
}

@keyframes playernamefloating {
  0% {
    top: -10px;
  }
  50% {
    top: -5px;
  }
  100% {
    top: -10px;
  }
}
/*# sourceMappingURL=main.css.map */