* {
	margin: 0;
	padding: 0;
	line-height: 1rem;
}
:root {
	--playernamespeed: 0.5789s;
}
#screen {
	position: absolute;
	top: calc(50% - 240px);
	left: calc(50% - 320px);
	width: 640px;
	height: 480px;
	background-color: black;
	// transform: scale(1.2);
	.board {
		position: relative;
		background-color: rgba(16, 15, 17, 0.26);
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		overflow-x: hidden;
		.road {
			position: absolute;
			// width: 400%;
			top: calc((480px - 350px) / 2);
			height: 350px;
			background-image: url("../PixelsAssets/fond.jpg");
			background-position: left bottom;
		}
		#player {
			position: absolute;
			bottom: 150px;
			width: 128px;
			height: 88px;
			background-size: 100%;
			outline: 1px dotted black;
			&::after {
				position: absolute;
				content: "div#player";
				top: -1.2rem;
				right: 0;
			}
			&::before {
				position: absolute;
				content: "Waria [Lv1]";
				top: 5p;
				left: 30px;
				border: 1px solid black;
				background-color: rgba(255, 255, 255, 0.877);
				border-radius: 5px;
				padding: 1px 5px;
				transition: left 0.5s ease-out;

				// -webkit-animation: playernamefloating var(--playernamespeed) infinite; /* Safari 4+ */
				// -moz-animation: playernamefloating var(--playernamespeed) infinite; /* Fx 5+ */
				// -o-animation: playernamefloating var(--playernamespeed) infinite; /* Opera 12+ */
				// animation: playernamefloating var(--playernamespeed) infinite; /* IE 10+, Fx 29+ */
			}
			&.idle {
				background-image: url("../anims_Assets/waria_idle.gif");

				&.left {
					background-image: url("../anims_Assets/waria_idle_l.gif");
				}
			}
			&.run {
				background-image: url("../anims_Assets/waria_run.gif");
				&::before {
					left: -5px;
				}
				&.left {
					background-image: url("../anims_Assets/waria_run_l.gif");
					&::before {
						left: 65px;
					}
				}
			}
			&.jump {
				background-image: url("../anims_Assets/waria_jump.gif");
				&.left {
					background-image: url("../anims_Assets/waria_jump_l.gif");
				}
			}
			&.attack {
				background-image: url("../anims_Assets/waria_dask_attack.gif");
				&.left {
					background-image: url("../anims_Assets/waria_dask_attack_l.gif");
				}
			}
		}
		.ratio {
			position: absolute;
			bottom: 5px;
			left: 5px;
			right: 5px;
			height: 20px;
			.progress {
				font-size: 2rem;
				line-height: 2rem;
				position: relative;
				width: 0%;
				height: 100%;
				background-color: antiquewhite;
				color: rgb(0, 0, 0);
			}
		}
		#health {
			position: absolute;
			right: 5px;
			top: 5px;
			color: white;
			font-size: 2rem;
			color: red;
		}
	}
	.console {
		div {
			font-size: 2rem;
			line-height: 2rem;
		}
	}
}

@keyframes playernamefloating {
	0% {
		// opacity: 0;
		top: 0px;
	}
	50% {
		// opacity: 1;
		top: 5px;
	}
	100% {
		// opacity: 1;
		top: 0px;
	}
}

@-moz-keyframes playernamefloating {
	0% {
		opacity: 0;
		top: 0px;
	}
	100% {
		opacity: 1;
		top: -15px;
	}
}
