* {
  margin: 0;
  padding: 0;
  line-height: 1rem;
}

body {
  overflow: hidden;
}

.outlined {
  outline: 1px dotted black;
}

.outlined::after {
  position: absolute;
  content: "div#player";
  top: -1.2rem;
  right: 0;
}

#screen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-color: black;
}

#screen .board {
  position: relative;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-x: hidden;
  height: 100vh;
  -webkit-transition: -webkit-transform 0.5s ease-in;
  transition: -webkit-transform 0.5s ease-in;
  transition: transform 0.5s ease-in;
  transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  overflow: hidden;
}

#screen .board.vertical {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

#screen .board #road-slider {
  position: absolute;
  background-position: left bottom;
  background-size: auto 100%;
}

.objet {
  position: absolute;
  bottom: 85px;
  width: 16px;
  height: 16px;
  outline: 1px dotted black;
  background-position: left bottom;
}

.objet::before {
  position: absolute;
  top: -15px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}

.objet.golden-key {
  background-image: url("../assets/objects/golden-key.png");
  left: 2472px;
}

.objet.golden-key::before {
  content: "golden-key";
}

.objet.silver-key {
  background-image: url("../assets/objects/silver-key.png");
  left: 2372px;
}

.objet.silver-key::before {
  content: "silver-key";
}

.objet.candle {
  background-image: url("../assets/objects/candle.png");
  left: 50px;
}

.objet.candle::before {
  content: "Candle";
}

.info {
  position: absolute;
  top: calc(10%);
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  font-size: 1rem;
  line-height: 100%;
  background-color: rgba(255, 255, 255, 0.588);
  border-radius: 9px;
  padding: 1rem;
}

.info.inf-0 {
  top: calc(10%);
  left: 1700px;
  text-align: center;
  font-size: 1.5rem;
}

.info.inf-1 {
  top: calc(10%);
  left: 100px;
}

.info.inf-2 {
  top: calc(35%);
  left: 350px;
}

.info.inf-3 {
  top: calc(15%);
  left: 650px;
}

.info.inf-4 {
  top: calc(25%);
  left: 950px;
}

.info.inf-5 {
  top: calc(5%);
  left: 1250px;
}

.info.inf-6 {
  top: calc(15%);
  left: 2300px;
}

.info.inf-7 {
  top: calc(50%);
  left: 2550px;
}

#player {
  position: absolute;
  top: 295px;
  width: 128px;
  height: 88px;
  background-size: 100%;
  background-image: url("../assets/archetypes/warrior/waria_idle.gif");
}

#player:hover::before {
  position: absolute;
  font-size: 0.8rem;
  content: "Waria [1]";
  top: -5px;
  left: 30%;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.877);
  border-radius: 5px;
  padding: 1px 5px;
  -webkit-transition: left 0.5s ease-out;
  transition: left 0.5s ease-out;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  -webkit-animation: playernamefloating 0.5789s infinite;
  /* Safari 4+ */
  /* Fx 5+ */
  /* Opera 12+ */
  animation: playernamefloating 0.5789s infinite;
  /* IE 10+, Fx 29+ */
}

#player.idle {
  background-image: url("../assets/archetypes/warrior/waria_idle.gif");
}

#player.idle.left {
  background-image: url("../assets/archetypes/warrior/waria_idle_l.gif");
}

#player.idle.crouch {
  background-image: url("../assets/archetypes/warrior/waria_gocrouch.gif");
}

#player.idle.crouch.left {
  background-image: url("../assets/archetypes/warrior/waria_gocrouch_l.gif");
}

#player.run {
  background-image: url("../assets/archetypes/warrior/waria_run.gif");
}

#player.run::before {
  left: 3px;
}

#player.run.left {
  background-image: url("../assets/archetypes/warrior/waria_run_l.gif");
}

#player.run.left::before {
  left: 65%;
}

#player.jump {
  background-image: url("../assets/archetypes/warrior/waria_jump.gif");
}

#player.jump.left {
  background-image: url("../assets/archetypes/warrior/waria_jump_l.gif");
}

#player.attack {
  background-image: url("../assets/archetypes/warrior/waria_dask_attack.gif");
}

#player.attack.left {
  background-image: url("../assets/archetypes/warrior/waria_dask_attack_l.gif");
}

#player.gocrouch {
  background-image: url("../assets/archetypes/warrior/waria_gocrouch.gif");
}

#player.gocrouch.left {
  background-image: url("../assets/archetypes/warrior/waria_gocrouch_l.gif");
}

#cursor {
  position: absolute;
  bottom: 8px;
  left: 8px;
  height: 25px;
  width: 200px;
  background-color: black;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#cursor .progress {
  position: absolute;
  left: 0;
  height: 1rem;
  background-color: antiquewhite;
  color: black;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  -ms-border-radius: 7px;
  -o-border-radius: 7px;
}

#health {
  position: absolute;
  left: 16px;
  top: 8px;
  color: white;
  font-size: 3rem;
  text-shadow: 5px 5px 5px black;
}

#health span {
  color: red;
}

@-webkit-keyframes playernamefloating {
  0% {
    top: -10px;
  }
  50% {
    top: -5px;
  }
  100% {
    top: -10px;
  }
}

@keyframes playernamefloating {
  0% {
    top: -10px;
  }
  50% {
    top: -5px;
  }
  100% {
    top: -10px;
  }
}

#paused,
#end {
  display: none;
  position: absolute;
  background-color: brown;
  text-transform: uppercase;
  font-size: 3rem;
  line-height: 3rem;
  border-radius: 1rem;
  padding: 1rem;
  border: 2px solid white;
  text-align: center;
}

#paused.active,
#end.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.console {
  position: absolute;
  top: 25%;
  right: -200px;
  width: 200px;
  z-index: 10;
}

.console #informations {
  position: relative;
  width: 100%;
  height: 100%;
  outline: 2px solid black;
  padding: 0.5rem;
  background-color: white;
}

.console #informations ::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -20px;
  width: 30px;
  background-color: black;
  outline: 2px solid black;
  border-radius: 7px;
  color: blanchedalmond;
  content: "K";
  z-index: -1;
  padding: 0.5rem 0 0 0.2rem;
}

.console #informations div {
  width: 100%;
}

.console:hover, .console.active {
  right: 0;
}

#mobs {
  width: 100%;
  background-color: rgba(194, 11, 11, 0.849);
}

#mobs .mob {
  outline: 1px dotted black;
  background-size: 100%;
  background-repeat: no-repeat;
}

#mobs .mob::before {
  position: absolute;
  font-size: 0.8rem;
  content: "Mob";
  top: -10px;
  right: 0;
  background-color: rgba(255, 255, 255, 0.315);
  border-radius: 5px;
  padding: 1px 5px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
/*# sourceMappingURL=main.css.map */