:root {
	--mobileW: 100vw;
}
#mobileparts {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	#hitbutt {
		.hit {
			position: absolute;
			top: 0;
			left: 60px;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			background-position: left top;
			background-size: auto 100%;
			background-repeat: no-repeat;
			background-color: rgba(255, 255, 255, 0.205);
			border: 3px solid rgba(255, 255, 255, 0.377);
			&.pause {
				background-image: url("../assets/buttons/pause.png");
			}
			&.end {
				left: 50%;
				background-image: url("../assets/buttons/end.png");
			}
			&.fullscreen {
				left: unset;
				right: 0;
				background-image: url("../assets/buttons/fullscreen.png");
			}
		}
	}
	#mobile {
		position: fixed;
		left: 0;
		bottom: 0;
		// height: 25%;
		width: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
		#mobile-actions {
			height: 100%;
			width: 100%;
			display: flex;
			justify-content: space-around;
			align-items: center;
			.mobact {
				// width: 50px;
				display: flex;
				justify-content: center;
				align-items: center;
				button {
					height: 100%;
					border-radius: 50%;
					padding: 100%;
					margin: 1rem;
					background-color: rgba(255, 255, 255, 0.205);
					border: 3px solid rgba(255, 255, 255, 0.377);
					color: white;
					background-position: left top;
					background-size: auto 100%;
					background-repeat: no-repeat;
					&.left {
						background-image: url("../assets/buttons/arrow_left.png");
					}
					&.right {
						background-image: url("../assets/buttons/arrow_right.png");
					}
					&.swing {
						background-image: url("../assets/buttons/hit_up.png");
					}
					&.crouch {
						background-image: url("../assets/buttons/arrow_down.png");
					}
				}
			}
		}
	}
}
// @keyframes playernamefloating {
// 	0% {
// 		// opacity: 0;
// 		top: -10px;
// 	}
// 	50% {
// 		// opacity: 1;
// 		top: -5px;
// 	}
// 	100% {
// 		// opacity: 1;
// 		top: -10px;
// 	}
// }

// @-moz-keyframes playernamefloating {
// 	0% {
// 		opacity: 0;
// 		top: 0px;
// 	}
// 	100% {
// 		opacity: 1;
// 		top: -15px;
// 	}
// }
